# export TEST_BROWSER_DRIVER=puppeteer

function @lib-test() {
  # meteor test-packages ./ --driver-package meteortesting:mocha --full-app --test-app-path ./
  meteor test-packages ./ --driver-package meteortesting:mocha --full-app
}
