# export TEST_BROWSER_DRIVER=puppeteer

function @lib-test() {
  # meteor test-packages ./ --driver-package meteortesting:mocha --full-app --test-app-path ./
  meteor --release=3.0-rc.1 test-packages ./ --driver-package meteortesting:mocha --full-app
}

function @lib-release() {
  meteor publish --release=METEOR@3.0-rc.1
}
