# export TEST_BROWSER_DRIVER=puppeteer

function @lib-test() {
  meteor --release=3.0-rc.2 test-packages ./ --driver-package meteortesting:mocha --full-app --exclude-archs web.browser.legacy
}

function @lib-test-meteor2() {
  meteor --release=2.16 test-packages ./ --driver-package meteortesting:mocha --full-app --exclude-archs web.browser.legacy
}

function @lib-release() {
  meteor publish --release=METEOR@3.0-rc.2
}

function @lib-release-meteor-2() {
  meteor publish --release=METEOR@2.16
}
